layout {
    tab "content" {
        pane size=1 split_direction="vertical" {
            pane
            pane size=1 split_direction="horizontal" {
                pane
                pane
            }
        }
    }
}
